
// Breakpoints
@mixin sm
  @media(min-width: 40rem)
    @content

@mixin md
  @media(min-width: 48rem)
    @content

@mixin lg
  @media(min-width: 64rem)
    @content

@mixin xl
  @media(min-width: 80rem)
    @content



// Shortcuts
@mixin flex-center($direction, $gap)
  display: flex
  justify-content: center
  align-items: center
  flex-direction: $direction
  gap: $gap + px

@mixin size($width, $height)
  width: $width
  height: $height

@mixin bg-img($img)
  filter: grayscale(100%)
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.98)), url('../assets/animals/#{$img}')
  background-size: 165%
  background-repeat: no-repeat
  background-position: center
  transition: background-size .7s ease-in-out, filter .7s ease-in-out

  &:hover
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.95)), url('../assets/animals/#{$img}')
    background-size: 185%
    filter: grayscale(0%)

@mixin flag-img($flag)
  background-image: url('../assets/flags/#{$flag}')
  background-repeat: no-repeat
  background-position: center
  background-size: cover